.Block {
  margin: 0px;
  padding: 0px;
}
.logo {
  padding-left: 2vw;
  font-size: 470%;
  font-weight: bold;
  letter-spacing: 1vw;
  background-color: #f1eeee;
  border-bottom: solid;
  border-color: #d4d4d4;
}
.heading {
  font-size: 320%;
  padding-top: 3%;
  padding-left: 1%;
}
.title-button {
	background-color:#dad7d6;
	border-radius:0;
	border:0px solid skyblue;
	display:inline-block;
	cursor:pointer;
	color:grey;
	font-family:Arial;
	font-size:150%;
	font-weight:bold;
  padding-top: 1%;
  padding-bottom: 1%;
	text-decoration:none;
  width: 80%;
}
.title-button:hover {
  text-decoration: underline;
	background-color:#c5c5c5;
}
