body {
  height: 120vh;
}
.dataform {
  border-style: solid;
  border-width: thin;
  border-color: grey;
  display: inline-block;
  padding-right: 5%;
  font-size: 120%;
}
p {
  font-size: 120%;
}
.Form-entries {
  margin: 2%;
  display: inline-block;
}
input[type="text"] {
  width: 50%;
}
input[name="Name"]{
  width: 30%;
}
