.logo {
  padding-left: 2vw;
  font-size: 470%;
  font-weight: bold;
  letter-spacing: 1vw;
  background-color: #f1eeee;
  border-bottom: solid;
  border-color: #d4d4d4;
}
.container{
  margin-top: 2%;
}
.signup-title{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 160%;
}
.input-box{
  font-size: 120%;
  display:inline-block;
  border-width: thin;
  border-style: solid;
  padding: 1% 2% 1% 2%;
}
.error{
  color: #ea7373;
  font-weight: bold;
}

.simple {
  text-decoration: none;
  color: black;
  font-size: 110%;
}
.simple:hover {
  text-decoration: none;
}

.link-button {
	background-color:#dad7d6;
	border:0px solid skyblue;
	display:inline-block;
	cursor:pointer;
	color:grey;
	font-family:Arial;
	font-size:100%;
	font-weight:bold;
  padding-top: 1%;
  padding-bottom: 1%;
	text-decoration:none;
  width: auto;
}
.link-button:hover {
  text-decoration: underline;
	background-color:#c5c5c5;
}
