<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='login.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Login</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="panel-heading logo">
        BINGO
      </div>
      <div class="container">
        <form action="{{url_for('LoginPage')}}" method="post">
          <p class="signup-title">Login Form</p>
          <div class="input-box">
            {% if error %}
              <p class="error">{{ error }}</p>
            {% endif %}
            <label>Email</label>
            <br>
            <input type="Email" name="Email" placeholder="Enter E-mail here" required>
            <br><br>
            <label>Password</label>
            <br>
            <input type="password" name="Password" placeholder="Enter your Password here" required>
            <br><br>
            <input type="submit" name="submit" value="Login" class="link-button">
          </div>
          <br><br>
          <span>New here?</span><br>
          <a href="{{url_for('SignupPage')}}">
            <button type="button" name="button" class="link-button">Signup Here!</button>
          </a>
        </form>
      </div>
    </div>
  </body>
</html>
